<div class="score__diamond--block">
  <div [hidden]="isEditable || !speed" style="padding-left: 70px;">
    <ng-container *ngIf="speed && +speed >= 80">
      <img width="260" src="https://github.com/alejandrojuarez675/softball-scoreboard/blob/main/src/assets/img/very-fast-ball.png?raw=true">
    </ng-container>
    <ng-container *ngIf="+speed < 80">
      <img width="260" src="https://github.com/alejandrojuarez675/softball-scoreboard/blob/main/src/assets/img/change-ball.png?raw=true">
    </ng-container>
    <div class="text-white" style="font-size: 72px; padding-left: 30px;">
      {{ speed + " mph"}}
    </div>
  </div>
  <div class="score__diamond--position" [hidden]="speed">
    <div class="score__diamond--2nd-base">
      <div
      class="diamond"
      [ngClass]="{
        'score__diamond--enabled-color': base2,
        'score__diamond--disabled-color': !base2
      }"
      (click)="onClick(2)"
      ></div>
    </div>
    <div class="score__diamond--3rd-base">
      <div
      class="diamond"
      [ngClass]="{
        'score__diamond--enabled-color': base3,
        'score__diamond--disabled-color': !base3
      }"
      (click)="onClick(3)"
      ></div>
    </div>
    <div class="score__diamond--1st-base">
      <div
        class="diamond"
        [ngClass]="{
          'score__diamond--enabled-color': base1,
          'score__diamond--disabled-color': !base1
        }"
        (click)="onClick(1)"
      ></div>
    </div>
    <div class="text-white" style="padding-top: 130px; font-size: 72px; margin-left: -149px;" [hidden]="isEditable || speed">
      {{ atBat ? "AT BAT #" + atBat : "" }}
    </div>
    <!-- <div class="score__diamond--home-plate">
      <div
      class="diamond"
      [ngClass]="{
        'score__diamond--enabled-color': base4,
          'score__diamond--disabled-color': !base4
        }"
        (click)="onClick(4)"
      ></div>
    </div> -->
  </div>
</div>
