.score__diamond--block {
  background-color: black;
  height: 25vh;
  width: 15vw;
}

.score__diamond--position {
  position: relative;
  left: 6vw;
  top: 6vh;
  // transform:translate(0%, 30%);
}

.score__diamond--enabled-color {
  border: 3px solid #555;
  background: yellow;
}
.score__diamond--disabled-color {
  border: 3px solid #555;
  background: black;
}

.diamond {
  width: 20%;
  height: 20%;
  transform: rotate(45deg);
}

.score__diamond--home-plate {
  position: absolute;
  width: 200px;
  height: 200px;
  transform:translate(0%, 30%);
}
.score__diamond--1st-base {
  position: absolute;
  width: 200px;
  height: 200px;
  transform:translate(15%, 15%);
}
.score__diamond--2nd-base {
  position: absolute;
  width: 200px;
  height: 200px;
  transform:translate(0, 0);
}
.score__diamond--3rd-base {
  position: absolute;
  width: 200px;
  height: 200px;
  transform:translate(-15%, 15%);
}
