.score__diamond--block {
  background-color: black;
  height: 100%;
  width: 100%;
}

.score__diamond--position {
  position: relative;
  left: 25%;
  top: 25%;
  transform: translate(18%, 0px);
}

.score__diamond--enabled-color {
  border: 3px solid #555;
  background: yellow;
}
.score__diamond--disabled-color {
  border: 3px solid #555;
  background: black;
}

.diamond {
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.score__diamond--home-plate {
  position: absolute;
  width: 3vw;
  height: 3vw;
  transform:translate(0%, 20%);
}
.score__diamond--1st-base {
  position: absolute;
  width: 3vw;
  height: 3vw;
  transform:translate(2.3vw, 2.3vw);
}
.score__diamond--2nd-base {
  position: absolute;
  width: 3vw;
  height: 3vw;
  transform:translate(0, 0);
}
.score__diamond--3rd-base {
  position: absolute;
  width: 3vw;
  height: 3vw;
  transform:translate(-2.3vw, 2.3vw);
}
