<div class="p-1">
  <div class="row">
    <div class="p-1 score__inning">{{ value || defaultValue }}</div>
  </div>
  <ng-container *ngIf="isEditable">
    <div class="row">
      <button type="button" class="col-6 small" (click)="subsOne()">-1</button>
      <button type="button" class="col-6 small" (click)="addOne()">+1</button>
    </div>
    <div class="row">
      <button type="button" class="col-6 small" (click)="clear()">-</button>
      <button type="button" class="col-6 small" (click)="setZero()">0</button>
    </div>
  </ng-container>
</div>
