<div style="background-color: rgb(0, 99, 0);">
  <div class="m-2">
      <div class="row py-3"></div>
      <div class="row">
          <div class="col-3">
              <div class="row">
                  <div class="col px-5"><div class="py-1 score__title">AT BAT</div></div>
              </div>
              <div class="row">
                  <div class="col px-5"><div class="py-1 score__inning">JUAREZ</div></div>
              </div>
          </div>
          <div class="col-6">
              <div class="row">
                  <div class="col px-5"><div class="py-1 score__title">BALL</div></div>
                  <div class="col px-5"><div class="py-1 score__title">STRIKE</div></div>
                  <div class="col px-5"><div class="py-1 score__title">OUT</div></div>
              </div>
              <div class="row">
                  <div class="col px-5"><div class="py-1 score__inning">3</div></div>
                  <div class="col px-5"><div class="py-1 score__inning">3</div></div>
                  <div class="col px-5"><div class="py-1 score__inning">3</div></div>
              </div>
          </div>
          <div class="col-3">
              <div class="row">
                  <div class="col"><div class="py-1 score__inning"></div></div>
              </div>
              <div class="row">
                  <div class="col"><div class="py-1 score__inning"></div></div>
              </div>
          </div>
      </div>
      <div class="row my-3"></div>
      <div class="row">
          <div class="col-2"><div class="p-1 score__title"></div></div>
          <div class="col"><div class="p-1 score__title">1</div></div>
          <div class="col"><div class="p-1 score__title">2</div></div>
          <div class="col"><div class="p-1 score__title">3</div></div>
          <div class="col"><div class="p-1 score__title">4</div></div>
          <div class="col"><div class="p-1 score__title">5</div></div>
          <div class="col"><div class="p-1 score__title">6</div></div>
          <div class="col"><div class="p-1 score__title">7</div></div>
          <div class="col"><div class="p-1 score__title">E</div></div>

          <div class="col"></div>

          <div class="col"><div class="p-1 score__title">R</div></div>
          <div class="col"><div class="p-1 score__title">H</div></div>
          <div class="col"><div class="p-1 score__title">E</div></div>
      </div>
      <div class="row">
          <div class="col-2"><div class="p-1 score__inning">ARG</div></div>
          <div class="col"><div class="p-1 score__inning">10</div></div>
          <div class="col"><div class="p-1 score__inning">-</div></div>
          <div class="col"><div class="p-1 score__inning">-</div></div>
          <div class="col"><div class="p-1 score__inning">-</div></div>
          <div class="col"><div class="p-1 score__inning">-</div></div>
          <div class="col"><div class="p-1 score__inning">-</div></div>
          <div class="col"><div class="p-1 score__inning">-</div></div>
          <div class="col"><div class="p-1 score__inning">-</div></div>

          <div class="col"></div>

          <div class="col"><div class="p-1 score__inning">10</div></div>
          <div class="col"><div class="p-1 score__inning">0</div></div>
          <div class="col"><div class="p-1 score__inning">0</div></div>
      </div>
      <div class="row m-2"></div>
      <div class="row">
          <div class="col-2"><div class="p-1 score__inning">USA</div></div>
          <div class="col"><div class="p-1 score__inning">0</div></div>
          <div class="col"><div class="p-1 score__inning">-</div></div>
          <div class="col"><div class="p-1 score__inning">-</div></div>
          <div class="col"><div class="p-1 score__inning">-</div></div>
          <div class="col"><div class="p-1 score__inning">-</div></div>
          <div class="col"><div class="p-1 score__inning">-</div></div>
          <div class="col"><div class="p-1 score__inning">-</div></div>
          <div class="col"><div class="p-1 score__inning">-</div></div>

          <div class="col"></div>

          <div class="col"><div class="p-1 score__inning">0</div></div>
          <div class="col"><div class="p-1 score__inning">0</div></div>
          <div class="col"><div class="p-1 score__inning">0</div></div>
      </div>
      <div class="row my-3"></div>
  </div>
</div>
