<div style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="d-flex justify-content-center">
          <img src="/assets/img/aps.jpeg" style="height: 20vh;" alt="Logo aps" srcset="">
        </div>
      </div>
      <div class="col-3">
        <div class="d-flex justify-content-center">
          <img src="/assets/img/cas.jpeg" style="height: 20vh;" alt="Logo aps" srcset="">
        </div>
      </div>
      <div class="col-3">
        <div class="d-flex justify-content-center">
          <img src="/assets/img/wbsc-america.jpeg" style="height: 20vh;" alt="Logo aps" srcset="">
        </div>
      </div>
      <div class="col-3">
        <div class="d-flex justify-content-center">
          <img src="/assets/img/wbsc.jpeg" style="height: 20vh;" alt="Logo aps" srcset="">
        </div>
      </div>
    </div>
  </div>
</div>
