<div style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="d-flex justify-content-center">
          <img src="https://alejandrojuarez675.github.io/softball-scoreboard/assets/img/aps.jpeg" style="height: 20vh;" alt="Logo aps" srcset="">
        </div>
      </div>
      <div class="col-3">
        <div class="d-flex justify-content-center">
          <img src="https://alejandrojuarez675.github.io/softball-scoreboard/assets/img/cas.jpeg" style="height: 20vh;" alt="Logo cas" srcset="">
        </div>
      </div>
      <div class="col-3">
        <div class="d-flex justify-content-center">
          <img src="https://alejandrojuarez675.github.io/softball-scoreboard/assets/img/wbsc-america.jpeg" style="height: 20vh;" alt="Logo wbsc" srcset="">
        </div>
      </div>
      <div class="col-3">
        <div class="d-flex justify-content-center">
          <img src="https://alejandrojuarez675.github.io/softball-scoreboard/assets/img/panamericano-2022.png" style="height: 20vh;" alt="Logo panam" srcset="">
        </div>
      </div>
    </div>
  </div>
</div>
