<div>
  <div class="container text-white">

    <div class="row border mt-5" *ngIf="(title$ | async)?.length">
      <h1 class="text-center text-white my-font-size-m">{{(title$ | async)?.toUpperCase()}}</h1>
    </div>

    <div class="row">

      <div class="col-4 p-5">
        <div class="row">
          <div class="col-7 bg-black text-center my-font-size-l">{{ localName$ | async }}</div>
          <div class="col-1 my-font-size-l"></div>
          <div class="col-4 bg-black text-center my-font-size-l">{{ (localRuns$ | async) || 0 }}</div>
        </div>
        <div class="row mt-3"></div>
        <div class="row">
          <div class="col-7 bg-black text-center my-font-size-l">{{ visitanteName$ | async }}</div>
          <div class="col-1 my-font-size-l"></div>
          <div class="col-4 bg-black text-center my-font-size-l">{{ (visitanteRuns$ | async) || 0 }}</div>
        </div>
      </div>

      <div class="col-2 p-5 ps-0">
        <div class="bg-black text-center">
          <div *ngIf="startInning$ | async" class="triangle-up-enabled mt-1" style="margin-left: 100px; padding-top: 35px;"></div> <!-- init inning -->
          <div *ngIf="!(startInning$ | async)" class="triangle-up-disabled mt-1" style="margin-left: 100px; padding-top: 35px;"></div> <!-- init inning -->
          <span class="my-font-size-xl" style="line-height: 160px;">{{ inning$ | async }}</span> <!-- inning -->
          <div *ngIf="!(startInning$ | async)" class="triangle-down-enabled mb-1" style="margin-left: 100px; padding-bottom: 35px;"></div> <!-- close inning -->
          <div *ngIf="startInning$ | async" class="triangle-down-disabled mb-1" style="margin-left: 100px; padding-bottom: 35px;"></div> <!-- close inning -->
        </div>
      </div>

      <div class="col-3 p-5 ps-0">
        <div class="row my-font-size-l">
          <div class="col-12 text-center bg-black ">
            {{ (balls$ | async) || 0 }}-{{ (strikes$ | async) || 0}}
          </div>
        </div>
        <div class="row mt-3"></div>
        <div class="row my-font-size-l">
          <div class="col-12 text-center bg-black ">
            {{ (outs$ | async) || 0}} OUTS
          </div>
        </div>
      </div>

      <div class="col-3 p-5">
        <app-editable-diamond [isEditable]="isEditable"></app-editable-diamond>
      </div>
    </div>

    <div class="row pt-1 w-100 bg-white"></div>

    <div class="row my-3"></div>
      <div class="row">
        <div class="col-9">
          <div class="row">
            <div class="col-3"><div class="p-1 score__title"></div></div>
            <div class="col-1"><div class="p-1 score__title">1</div></div>
            <div class="col-1"><div class="p-1 score__title">2</div></div>
            <div class="col-1"><div class="p-1 score__title">3</div></div>
            <div class="col-1"><div class="p-1 score__title">4</div></div>
            <div class="col-1"><div class="p-1 score__title">5</div></div>
            <div class="col-1"><div class="p-1 score__title">6</div></div>
            <div class="col-1"><div class="p-1 score__title">7</div></div>
            <div class="col-1"><div class="p-1 score__title">E</div></div>
            <div class="col-1"></div>
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-4"><div class="p-1 score__title">R</div></div>
            <div class="col-4"><div class="p-1 score__title">H</div></div>
            <div class="col-4"><div class="p-1 score__title">E</div></div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-9">
          <div class="row">
            <div class="col-3"><app-editable-text [isEditable]="isEditable" key="L_NAME"></app-editable-text></div>
            <div class="col-1"><app-editable-number [isEditable]="isEditable" key="L1"></app-editable-number></div>
            <div class="col-1"><app-editable-number [isEditable]="isEditable" key="L2"></app-editable-number></div>
            <div class="col-1"><app-editable-number [isEditable]="isEditable" key="L3"></app-editable-number></div>
            <div class="col-1"><app-editable-number [isEditable]="isEditable" key="L4"></app-editable-number></div>
            <div class="col-1"><app-editable-number [isEditable]="isEditable" key="L5"></app-editable-number></div>
            <div class="col-1"><app-editable-number [isEditable]="isEditable" key="L6"></app-editable-number></div>
            <div class="col-1"><app-editable-number [isEditable]="isEditable" key="L7"></app-editable-number></div>
            <div class="col-1"><app-editable-number [isEditable]="isEditable" key="L8"></app-editable-number></div>

            <div class="col-1"></div>
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-4"><app-editable-number [isEditable]="isEditable" key="LR" defaultValue="0"></app-editable-number></div>
            <div class="col-4"><app-editable-number [isEditable]="isEditable" key="LH" defaultValue="0"></app-editable-number></div>
            <div class="col-4"><app-editable-number [isEditable]="isEditable" key="LE" defaultValue="0"></app-editable-number></div>
          </div>
        </div>

      </div>
      <div class="row m-2"></div>
      <div class="row">
        <div class="col-9">
          <div class="row">
            <div class="col-3"><app-editable-text [isEditable]="isEditable" key="V_NAME"></app-editable-text></div>
            <div class="col-1"><app-editable-number [isEditable]="isEditable" key="V1"></app-editable-number></div>
            <div class="col-1"><app-editable-number [isEditable]="isEditable" key="V2"></app-editable-number></div>
            <div class="col-1"><app-editable-number [isEditable]="isEditable" key="V3"></app-editable-number></div>
            <div class="col-1"><app-editable-number [isEditable]="isEditable" key="V4"></app-editable-number></div>
            <div class="col-1"><app-editable-number [isEditable]="isEditable" key="V5"></app-editable-number></div>
            <div class="col-1"><app-editable-number [isEditable]="isEditable" key="V6"></app-editable-number></div>
            <div class="col-1"><app-editable-number [isEditable]="isEditable" key="V7"></app-editable-number></div>
            <div class="col-1"><app-editable-number [isEditable]="isEditable" key="V8"></app-editable-number></div>

            <div class="col-1"></div>
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-4"><app-editable-number [isEditable]="isEditable" key="VR" defaultValue="0"></app-editable-number></div>
            <div class="col-4"><app-editable-number [isEditable]="isEditable" key="VH" defaultValue="0"></app-editable-number></div>
            <div class="col-4"><app-editable-number [isEditable]="isEditable" key="VE" defaultValue="0"></app-editable-number></div>
          </div>
        </div>

      </div>
      <div class="row my-3"></div>

  </div>
</div>
